extends layout
block content
  section.title
    h1= title
  section.headline
    img(src="./images/moon.png" alt="moon" height="110vh")
    img(src="./images/logo.png" alt="logo" height="110vh")
    img(src="./images/unicorn.png" alt="unicorn" height="110vh")
    
