extends layout
block content
  section.title
    h1= title
    p Welcome to the best <br> #{title}
  section.headline
    p Where the best <br> <b id="graphics">graphics</b> <br> are made to your request!

