doctype html
html
  head
    title= title
    link(rel='stylesheet', href='./stylesheets/style.css')
  body
    nav
      ul
        li
          a(href="/") Home
        li
          a(href="/gallery") Gallery
        li
          a(href="/contact") Contact
    block content
  footer 
    p &copy; 2024 Monica Paultre. All Rights Reserved. 